$border-radius: 0.5em;
$theme-dark-blue: #005986;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7em;
}
.blueWrapper {
  display: flex;
  align-items: center;
  margin: 1.8em;
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0 0;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: $border-radius;
  background: #ffffff;
  box-shadow: 0 0 0.7em 0 rgb(0 0 0 / 20%);
  padding: 2%;
  margin-bottom:1em;
  flex: 0 1 45.22%;
  height: 20vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $theme-dark-blue;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  .title {
    margin-right: 1rem;
    color: #ffffff;
  }

  .select {
    width: 15em;
  }
}

.loader, .error {
  opacity: 0.5em;
  margin-top: 4rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  background: $theme-dark-blue;
  margin-top: auto;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

@media (max-width: 920px) {
  .tile {
    flex: 0 1 100%;
  }
}