$border-radius: 0.5em;

.tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0 0;
}

.tile {
  border-radius: $border-radius;
  background: #ffffff;
  box-shadow: 0 0 0.7em 0 rgb(0 0 0 / 20%);
  padding: 2%;
  margin-bottom:1em;
  flex: 0 1 45.22%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #005986;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  .title {
    margin-right: 1rem;
    color: #ffffff;
  }

  .select {
    width: 15em;
  }
}

@media (max-width: 920px) {
  .tile {
    flex: 0 1 100%;
  }
}